Tasks/Task1/bin/
Tasks/Task1/obj/
Tasks/.vs/
Tasks/TestTaskTwo/bin/Debug/net8.0/TestTaskTwo.dll
Tasks/TestTaskTwo/bin/Debug/net8.0/TestTaskTwo.exe
Tasks/TestTaskTwo/bin/Debug/net8.0/TestTaskTwo.pdb
Tasks/TestTaskTwo/obj/Debug/net8.0/apphost.exe
Tasks/TestTaskTwo/obj/Debug/net8.0/staticwebassets.build.endpoints.json
Tasks/TestTaskTwo/obj/Debug/net8.0/TestTaskTwo.AssemblyInfo.cs
Tasks/TestTaskTwo/obj/Debug/net8.0/TestTaskTwo.AssemblyInfoInputs.cache
Tasks/TestTaskTwo/obj/Debug/net8.0/TestTaskTwo.dll
Tasks/TestTaskTwo/obj/Debug/net8.0/TestTaskTwo.pdb
Tasks/TestTaskTwo/obj/Debug/net8.0/TestTaskTwo.sourcelink.json
Tasks/TestTaskTwo/obj/Debug/net8.0/ref/TestTaskTwo.dll
Tasks/TestTaskTwo/obj/Debug/net8.0/refint/TestTaskTwo.dll
