<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доставка Пиццы и Роллов</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <header>
        <h1>Доставка пиццы и роллов</h1>
        <div class="working-hours">
            <p>Понедельник – Пятница: с 10:00 до 22:00</p>
            <p>Суббота: с 10:00 до 22:30</p>
        </div>
    </header>
    <main>
        <section class="categories">
            <p><strong>Роллы, закуски, салаты, десерты, напитки, горячие блюда, детское меню, сувениры.</strong></p>
        </section>
        <section class="menu">
            <div class="menu-flex">

            </div>
        </section>
    </main>
    <footer>
        <div class="contacts">
            <p>Телефон: +7 902 127-77-72</p>
            <p>Альтернативный номер: 4-04-77</p>
        </div>
    </footer>
</body>
</html>