<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доставка Пиццы и Роллов</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <header>
        <h1>Доставка пиццы и роллов</h1>
        <div class="working-hours">
            <p>Понедельник – Пятница: с 10:00 до 22:00</p>
            <p>Суббота: с 10:00 до 22:30</p>
        </div>
    </header>
    <main>
        <section class="categories">
            <p><strong>Роллы, закуски, салаты, десерты, напитки, горячие блюда, детское меню, сувениры.</strong></p>
        </section>
        <section class="menu">
            <div class="menu-flex">
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Новогодняя</h2>
                    <p>Соус "Гавайский", Сыр моцарелла, Куриная грудка, Мандарины консервированные, Стружка миндаля, Кокосовая стружка.</p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">550 Р 670 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Capriccio</h2>
                    <p>Сыр моцарелла, Соус "Барбекю", Соус "Кальяри", Пепперонни, Овощи гриль, Бекон, Ветчина, Томаты черри, Шампиньоны.</p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">695 Р 980 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>XXXL</h2>
                    <p>Cыр моцарелла, Соус "1000", Куриный рулет, Ветчина, Колбаски охотничьи, Бекон, Сервелат, Огурцы маринованные, Томаты черри, Маслины, Лук маринованный</p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">570 Р  740 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>4 вкуса</h2>
                    <p>Соус "1000 стровов", Сыр моцарелла, Рулет куриный, Ветчина, Пепперони, Сыр пармезан, Шампиньоны, Томаты свежие, Маслины/Оливки</p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">495 Р 540 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Амазонка</h2>
                    <p>Соус "Томатный", Сыр моцарелла, Куриная грудка, Брокколи, Огурцы маринованные, Перец болгарский, Шампиньоны, Томаты черри, Маслины, Лук маринованный</p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">515 Р 600 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>БананZZа</h2>
                    <p>Бананы, Соус "Гавайский", Сыр моцарелла, Ананас, Шоколад молочный, Кокос/миндаль, Топпинг клубничный<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">495 Р 520 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Барбекю</h2>
                    <p>Соус "Томатный", Сыр моцарелла, Ветчина, Бекон, Пепперони, Соус "Барбекю", Томаты, Перец болгарский, Лук маринованный<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">535 Р 590 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Гавайская</h2>
                    <p>Ветчина, Соус "Гавайский", Сыр моцарелла, Ананас, Перец болгарский<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">495 Р 550 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Гавайская Premimum</h2>
                    <p>Соус "Гавайский", Сыр моцарелла, Ананас, Ветчина, Куриный рулет, Кукуруза, Перец болгарский<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">515 Р 590 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Греческая</h2>
                    <p>Соус "Кальяри", Сыр моцарелла, Сливочный сыр, Брокколи, Томаты черри, Перец болгарский, Маслины<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">525 Р 570 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Грибная</h2>
                    <p>Соус "Грибной", Сыр моцарелла, Опята маринованные, Укроп, Шампиньоны, Лук маринованный<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">495 Р 550 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Деревенская</h2>
                    <p>Соус "1000 островов", Сыр моцарелла, Ветчина, Сервелат, Огурцы маринованные, Опята маринованные, Укроп, Лук маринованный<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">500 Р 560 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Домашняя</h2>
                    <p>Соус "Томатный", Сыр моцарелла, Ветчина, Сервелат, Томаты, Шампиньоны<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">515 Р 510 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Дон Бекон</h2>
                    <p>Бекон, Соус "Кальяри", Сыр моцарелла, Томаты черри<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">515 Р 550 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Дьябло</h2>
                    <p>Соус "Томатный", Сыр моцарелла, Ветчина, Пеппирони, Соус "Кимчи", Халапеньо, Томаты<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">525 Р 560 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Кальяри</h2>
                    <p>Соус "Кальяри", Креветки тигровые, Куриная грудка, Сыр моцарелла, Ананас, Соус "Унаги", Кунжут<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">540 Р 560 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Колизей</h2>
                    <p>Соус "Горчичный", Сыр моцарелла, Куринный рулет, Колбаски охотничьи, Соус "Кисло-сладкий", Томаты свежие, Лук маринованный<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">525 Р 660 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Королевская</h2>
                    <p>Соус "Кальяри", Сыр моцарелла, Бекон, Креветки тигровые, Сыр пармезан, Томаты черри<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">610 Р 580 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Крестьянская</h2>
                    <p>Соус "1000 островов", Сыр моцарелла, Бекон, Укроп, Томаты, Шампиньоны, Лук маринованный<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">500 Р 585 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Маргарита</h2>
                    <p>Соус "Томатный", Сыр моцарелла, Сливочный сыр, Томаты черри<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">495 Р 460 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Морская</h2>
                    <p>Соус "Кальяри", Сыр моцарелла, Кальмар, Креветки тигровые, Мидии, Осьминог, Лимон, Укроп, Лук маринованный, Маслины<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">570 Р 550 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Мясная сборная</h2>
                    <p>Соус "Барбекю", Сыр моцарелла, Куриный рулет, Ветчина, Бекон, Сервелат, Томаты, Перец болгарский, Лук маринованный, Маслины<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">540 Р 510 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Остров пепперони</h2>
                    <p>Сыр моцарелла, Соус "1000 островов", Пепперони, Томаты свежие<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">515 Р</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Охотничья</h2>
                    <p>Соус "1000 островов", Сыр моцарелла, Сервелат, Бекон, Колбаски охотничьи, Сливочный сыр, Сыр пармезан, Томаты черри, Лук маринованный, Маслины<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">535 Р 560 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Пепперони</h2>
                    <p>Соус "Томатный", Сыр моцарелла, Пепперони<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">475 Р 410 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Пикантная</h2>
                    <p>Соус "Кальяри", Ветчина, Сливочный сыр, Сыр пармезан, Томаты свежие, Перец болгарский<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">525 Р 510 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Поноккио</h2>
                    <p>Соус "Гавайский", Куриный рулит, Сыр моцарелла, Кукуруза<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">485 Р 510 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Пицца-Cezer</h2>
                    <p>Ветчина, Куриная грудка, Соус "Кальяри", Сыр моцарелла, Салат айсберг, Сыр пармезан, Соус "Спайси"<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">525 Р 640 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Пицца-бургер</h2>
                    <p>Соус "Томатный", Сыр моцарелла, Куриный рулет, Ветчина, Соус "Бургер", Сервелат, Кунжут, Перец болгарский<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">515 Р 570 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Сардиния</h2>
                    <p>Соус "Кальяри", Сыр моцарелла, Брокколи, Сливочный сыр, Креветки тигровые, Томаты черри<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">550 Р 520 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Славянская</h2>
                    <p>Соус "1000 островов", Сыр моцарелла, Картофельные дольки, Бекон, Ветчина, Огурцы маринованные, Лук маринованный, Зелень, Томаты свежие<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">515 Р 560 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Сладкая Италия</h2>
                    <p>Соус "Сливочный", Груша консервированная, Сыр моцарелла, Сыр с голубой плесенью, Орехи грецкие, Мед натуральные<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">570 Р 530 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Сливочно-острая</h2>
                    <p>Соус "1000 островов", Сыр моцарелла, Сервелат, Бекон, Сливочный сыр, Соус "Кимчи", Халапеньо, Томаты<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">515 Р 580 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Солянка</h2>
                    <p>Соус "Барбекю", Сыр моцарелла, Колбаски охотничьи, Бекон, Сервелат, Огурцы маринованные, Лимон, Укроп, Томаты черри, Лук маринованный, Маслины<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">550 Р 600 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Сырная</h2>
                    <p>Сыр моцарелла, Сливочный сыр, Соус "Кальяри", Сыр фетаки, Сыр с голубой плесенью, Сыр пармезан<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">570 Р 550 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Татарская</h2>
                    <p>Соус "Томатный", Куриный рулет, Сыр моцарелла, Конно-говяжиья колбаса, Лук маринованный, Томаты, Шампиньоны, Перец болгарский<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">555 Р 580 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Фиеста</h2>
                    <p>Соус "1000 островов", Сыр моцарелла, Куриный рулет, Колбаски охотничьи, Сливочный сыр, Сервелат, Опята маринованные, Шампиньоны<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">535 Р 580 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Филадельфия</h2>
                    <p>Соус "Кальяри", Сыр моцарелла, Лосось, Сливочный сыр, Авокадо<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">600 Р 510 гр</p>
                </div>
                <div class="menu-item">
                    <img src="/img/novogodnyaya_2s.jpg" />
                    <h2>Цезарь с лососем</h2>
                    <p>Сыр моцарелла, Соус "Кальяри", Свежие томаты, Лосось, Салат айсберг, Соус "Спайси", Сыр пармезан<p>
                    <p>Размеры: 30 см, 40 см, 60 см.</p>
                    <p>Традиционное Толстое</p>
                    <p class="price">600 Р 550 гр</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contacts">
            <p>Телефон: +7 902 127-77-72</p>
            <p>Альтернативный номер: 4-04-77</p>
        </div>
    </footer>
</body>
</html>