<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доставка Пиццы и Роллов</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <header>
        <h1>Доставка пиццы и роллов</h1>
        <div class="working-hours">
            <p>Понедельник – Пятница: с 10:00 до 22:00</p>
            <p>Суббота: с 10:00 до 22:30</p>
        </div>
    </header>
    <main>
        <section class="categories">
            <p><strong>Роллы, закуски, салаты, десерты, напитки, горячие блюда, детское меню, сувениры.</strong></p>
        </section>
        <section class="menu">
            <div class="menu-flex">

            </div>
        </section>
    </main>
    <footer>
        <div class="contacts">
            <p>Телефон: +7 902 127-77-72</p>
            <p>Альтернативный номер: 4-04-77</p>
        </div>
    </footer>
    <script>
                  Ростислав Федотов, [02.01.2025 3:51]
        const pizzas = [
            {
                name: "Новогодняя",
                image: "novogodnyaya_2s.jpg",
                composition: [
                    "Соус 'Гавайский'",
                    "Сыр моцарелла",
                    "Куриная грудка",
                    "Мандарины консервированные",
                    "Стружка миндаля",
                    "Кокосовая стружка"
                ],
                sizes: ["30 см", "40 см", "60 см"],
                crust: "Традиционное Толстое",
                price: 550,
                weight: "670 гр"
            },
            {
                name: "Capriccio",
                image: "novogodnyaya_2s.jpg",
                composition: [
                    "Сыр моцарелла",
                    "Соус 'Барбекю'",
                    "Соус 'Кальяри'",
                    "Пепперонни",
                    "Овощи гриль",
                    "Бекон",
                    "Ветчина",
                    "Томаты черри",
                    "Шампиньоны"
                ],
                sizes: ["30 см", "40 см", "60 см"],
                crust: "Традиционное Толстое",
                price: 695,
                weight: "980 гр"
            },
            {
                name: "XXXL",
                image: "novogodnyaya_2s.jpg",
                composition: [
                    "Сыр моцарелла",
                    "Соус '1000'",
                    "Куриный рулет",
                    "Ветчина",
                    "Колбаски охотничьи",
                    "Бекон",
                    "Сервелат",
                    "Огурцы маринованные",
                    "Томаты черри",
                    "Маслины",
                    "Лук маринованный"
                ],
                sizes: ["30 см", "40 см", "60 см"],
                crust: "Традиционное Толстое",
                price: 570,
                weight: "740 гр"
            },
            {
                name: "4 вкуса",
                image: "novogodnyaya_2s.jpg",
                composition: [
                    "Соус '1000 стровов'",
                    "Сыр моцарелла",
                    "Рулет куриный",
                    "Ветчина",
                    "Пепперони",
                    "Сыр пармезан",
                    "Шампиньоны",
                    "Томаты свежие",
                    "Маслины/Оливки"
                ],
                sizes: ["30 см", "40 см", "60 см"],
                crust: "Традиционное Толстое",
                price: 495,
                weight: "540 гр"
            },
            {
                name: "Амазонка",
                image: "novogodnyaya_2s.jpg",
                composition: [
                    "Соус 'Томатный'",
                    "Сыр моцарелла",
                    "Куриная грудка",
                    "Брокколи",
                    "Огурцы маринованные",
                    "Перец болгарский",
                    "Шампиньоны",
                    "Томаты черри",
                    "Маслины",
                    "Лук маринованный"
                ],
                sizes: ["30 см", "40 см", "60 см"],
                crust: "Традиционное Толстое",
                price: 515,
                weight: "600 гр"
            },
            {
                name: "БананZZа",
                image: "novogodnyaya_2s.jpg",
                composition: [
                    "Бананы",
                    "Соус 'Гавайский'",
                    "Сыр моцарелла",
                    "Ананас",
                    "Шоколад молочный",
                    "Кокос/миндаль",
                    "Топпинг клубничный"
                ],
                sizes: ["30 см", "40 см", "60 см"],
                crust: "Традиционное Толстое",
                price: 495,
                weight: "520 гр"
            },
            {
                name: "Барбекю",
                image: "novogodnyaya_2s.jpg",
                composition: [
                    "Соус 'Томатный'",
                    "Сыр моцарелла",
                    "Ветчина",
                    "Бекон",
                    "Пепперони",
                    "Соус 'Барбекю'",
                    "Томаты",
                    "Перец болгарский",
                    "Лук маринованный"
                ],
                sizes: ["30 см", "40 см", "60 см"],
                crust: "Традиционное Толстое",
                price: 535,
                weight: "590 гр"
            },
            {
                name: "Гавайская",
                image: "novogodnyaya_2s.jpg",
                composition: [
                    "Ветчина",
                    "Соус 'Гавайский'",
                    "Сыр моцарелла",
                    "Ананас",
                    "Перец болгарский"
                ],
                sizes: ["30 см", "40 см", "60 см"],
                crust: "Традиционное Толстое",
                price: 495,
                weight: "550 гр"
            },
            {
                name: "Гавайская Premium",
                image: "novogodnyaya_2s.jpg",
                composition: [
                    "Соус 'Гавайский'",
                    "Сыр моцарелла",
                    "Ананас",
                    "Ветчина",
                    "Куриный рулет",
                    "Кукуруза",
                    "Перец болгарский"
                ],
                sizes: ["30 см", "40 см", "60 см"],
                crust: "Традиционное Толстое",
                price: 515,
                weight: "590 гр"
            },
                    Ростислав Федотов, [02.01.2025 3:54]
        {
                "name": "Греческая",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Кальяри'",
                    "Сыр моцарелла",
                    "Сливочный сыр",
                    "Брокколи",
                    "Томаты черри",
                    "Перец болгарский",
                    "Маслины"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 525,
                "weight": "570 гр"
            },
            {
                "name": "Грибная",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Грибной'",
                    "Сыр моцарелла",
                    "Опята маринованные",
                    "Укроп",
                    "Шампиньоны",
                    "Лук маринованный"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 495,
                "weight": "550 гр"
            },
            {
                "name": "Деревенская",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус '1000 островов'",
                    "Сыр моцарелла",
                    "Ветчина",
                    "Сервелат",
                    "Огурцы маринованные",
                    "Опята маринованные",
                    "Укроп",
                    "Лук маринованный"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 500,
                "weight": "560 гр"
            },
            {
                "name": "Домашняя",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Томатный'",
                    "Сыр моцарелла",
                    "Ветчина",
                    "Сервелат",
                    "Томаты",
                    "Шампиньоны"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 515,
                "weight": "510 гр"
            },
            {
                "name": "Дон Бекон",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Бекон",
                    "Соус 'Кальяри'",
                    "Сыр моцарелла",
                    "Томаты черри"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 515,
                "weight": "550 гр"
            },
            {
                "name": "Дьябло",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Томатный'",
                    "Сыр моцарелла",
                    "Ветчина",
                    "Пеппирони",
                    "Соус 'Кимчи'",
                    "Халапеньо",
                    "Томаты"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 525,
                "weight": "560 гр"
            },
            {
                "name": "Кальяри",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Кальяри'",
                    "Креветки тигровые",
                    "Куриная грудка",
                    "Сыр моцарелла",
                    "Ананас",
                    "Соус 'Унаги'",
                    "Кунжут"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 540,
                "weight": "560 гр"
            },
            {
                "name": "Колизей",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Горчичный'",
                    "Сыр моцарелла",
                    "Куринный рулет",
                    "Колбаски охотничьи",
                    "Соус 'Кисло-сладкий'",
                    "Томаты свежие",
                    "Лук маринованный"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 525,
                "weight": "660 гр"
            },
            {
                "name": "Королевская",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Кальяри'",
                    "Сыр моцарелла",
                    "Бекон",
                    "Креветки тигровые",
                    "Сыр пармезан",
                    "Томаты черри"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 610,
                "weight": "580 гр"
            },
            {
                "name": "Крестьянская",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус '1000 островов'",
                    "Сыр моцарелла",
                    "Бекон",
                    "Укроп",
                    "Томаты",
                    "Шампиньоны",
                    "Лук маринованный"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 500,
                "weight": "585 гр"
            },
                {
            "name": "Маргарита",
            "image": "novogodnyaya_2s.jpg",
            "composition": [
                "Соус 'Томатный'",
                "Сыр моцарелла",
                "Сливочный сыр",
                "Томаты черри"
            ],
            "sizes": ["30 см", "40 см", "60 см"],
            "crust": "Традиционное Толстое",
            "price": 495,
            "weight": "460 гр"
        },
        {
            "name": "Морская",
            "image": "novogodnyaya_2s.jpg",
            "composition": [
                "Соус 'Кальяри'",
                "Сыр моцарелла",
                "Кальмар",
                "Креветки тигровые",
                "Мидии",
                "Осьминог",
                "Лимон",
                "Укроп",
                "Лук маринованный",
                "Маслины"
            ],
            "sizes": ["30 см", "40 см", "60 см"],
            "crust": "Традиционное Толстое",
            "price": 570,
            "weight": "550 гр"
        },
        {
            "name": "Мясная сборная",
            "image": "novogodnyaya_2s.jpg",
            "composition": [
                "Соус 'Барбекю'",
                "Сыр моцарелла",
                "Куриный рулет",
                "Ветчина",
                "Бекон",
                "Сервелат",
                "Томаты",
                "Перец болгарский",
                "Лук маринованный",
                "Маслины"
            ],
            "sizes": ["30 см", "40 см", "60 см"],
            "crust": "Традиционное Толстое",
            "price": 540,
            "weight": "510 гр"
        },
        {
            "name": "Остров пепперони",
            "image": "novogodnyaya_2s.jpg",
            "composition": [
                "Сыр моцарелла",
                "Соус '1000 островов'",
                "Пепперони",
                "Томаты свежие"
            ],
            "sizes": ["30 см", "40 см", "60 см"],
            "crust": "Традиционное Толстое",
            "price": 515,
            "weight": "N/A"
        },
        {
            "name": "Охотничья",
            "image": "novogodnyaya_2s.jpg",
            "composition": [
                "Соус '1000 островов'",
                "Сыр моцарелла",
                "Сервелат",
                "Бекон",
                "Колбаски охотничьи",
                "Сливочный сыр",
                "Сыр пармезан",
                "Томаты черри",
                "Лук маринованный",
                "Маслины"
            ],
            "sizes": ["30 см", "40 см", "60 см"],
            "crust": "Традиционное Толстое",
            "price": 535,
            "weight": "560 гр"
        },
        {
            "name": "Пепперони",
            "image": "novogodnyaya_2s.jpg",
            "composition": [
                "Соус 'Томатный'",
                "Сыр моцарелла",
                "Пепперони"
            ],
            "sizes": ["30 см", "40 см", "60 см"],
            "crust": "Традиционное Толстое",
            "price": 475,
            "weight": "410 гр"
        },
        {
            "name": "Пикантная",
            "image": "novogodnyaya_2s.jpg",
            "composition": [
                "Соус 'Кальяри'",
                "Ветчина",
                "Сливочный сыр",
                "Сыр пармезан",
                "Томаты свежие",
                "Перец болгарский"
            ],
            "sizes": ["30 см", "40 см", "60 см"],
            "crust": "Традиционное Толстое",
            "price": 525,
            "weight": "510 гр"
        },
        {
            "name": "Поноккио",
            "image": "novogodnyaya_2s.jpg",
            "composition": [
                "Соус 'Гавайский'",
                "Куриный рулет",
                "Сыр моцарелла",
                "Кукуруза"
            ],
            "sizes": ["30 см", "40 см", "60 см"],
            "crust": "Традиционное Толстое",
            "price": 485,
            "weight": "510 гр"
        },
        {
            "name": "Пицца-Cezer",
            "image": "novogodnyaya_2s.jpg",
            "composition": [
                "Ветчина",
                "Куриная грудка",
                "Соус 'Кальяри'",
                "Сыр моцарелла",
                "Салат айсберг",
                "Сыр пармезан",
                "Соус 'Спайси'"
            ],
            "sizes": ["30 см", "40 см", "60 см"],
            "crust": "Традиционное Толстое",
            "price": 525,
            "weight": "640 гр"
        },
                Ростислав Федотов, [02.01.2025 4:02]
        [
            {
                "name": "Пицца-бургер",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Томатный'",
                    "Сыр моцарелла",
                    "Куриный рулет",
                    "Ветчина",
                    "Соус 'Бургер'",
                    "Сервелат",
                    "Кунжут",
                    "Перец болгарский"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 515,
                "weight": "570 гр"
            },
            {
                "name": "Сардиния",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Кальяри'",
                    "Сыр моцарелла",
                    "Брокколи",
                    "Сливочный сыр",
                    "Креветки тигровые",
                    "Томаты черри"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 550,
                "weight": "520 гр"
            },
            {
                "name": "Славянская",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус '1000 островов'",
                    "Сыр моцарелла",
                    "Картофельные дольки",
                    "Бекон",
                    "Ветчина",
                    "Огурцы маринованные",
                    "Лук маринованный",
                    "Зелень",
                    "Томаты свежие"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 515,
                "weight": "560 гр"
            },
            {
                "name": "Сладкая Италия",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Сливочный'",
                    "Груша консервированная",
                    "Сыр моцарелла",
                    "Сыр с голубой плесенью",
                    "Орехи грецкие",
                    "Мед натуральный"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 570,
                "weight": "530 гр"
            },
            {
                "name": "Сливочно-острая",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус '1000 островов'",
                    "Сыр моцарелла",
                    "Сервелат",
                    "Бекон",
                    "Сливочный сыр",
                    "Соус 'Кимчи'",
                    "Халапеньо",
                    "Томаты"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 515,
                "weight": "580 гр"
            },
            {
                "name": "Солянка",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Барбекю'",
                    "Сыр моцарелла",
                    "Колбаски охотничьи",
                    "Бекон",
                    "Сервелат",
                    "Огурцы маринованные",
                    "Лимон",
                    "Укроп",
                    "Томаты черри",
                    "Лук маринованный",
                    "Маслины"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 550,
                "weight": "600 гр"
            },
            {
                "name": "Сырная",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Сыр моцарелла",
                    "Сливочный сыр",
                    "Соус 'Кальяри'",
                    "Сыр фетаки",
                    "Сыр с голубой плесенью",
                    "Сыр пармезан"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 570,
                "weight": "550 гр"
            },
            {
                "name": "Татарская",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус 'Томатный'",
                    "Куриный рулет",
                    "Сыр моцарелла",
                    "Конно-говяжья колбаса",
                    "Лук маринованный",
                    "Томаты",
                    "Шампиньоны",
                    "Перец болгарский"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 555,
                "weight": "580 гр"
            },
            {
                "name": "Фиеста",
                "image": "novogodnyaya_2s.jpg",
                "composition": [
                    "Соус '1000 островов'",
                    "Сыр моцарелла",
                    "Куриный рулет",
                    "Колбаски охотничьи",
                    "Сливочный сыр",
                    "Сервелат",
                    "Опята маринованные",
                    "Шампиньоны"
                ],
                "sizes": ["30 см", "40 см", "60 см"],
                "crust": "Традиционное Толстое",
                "price": 535,
                "weight": "580 гр"
            },
                {
            "name": "Филадельфия",
            "image": "novogodnyaya_2s.jpg",
            "composition": [
                "Соус 'Кальяри'",
                "Сыр моцарелла",
                "Лосось",
                "Сливочный сыр",
                "Авокадо"
            ],
            "sizes": ["30 см", "40 см", "60 см"],
            "crust": "Традиционное Толстое",
            "price": 600,
            "weight": "510 гр"
        },
        {
            "name": "Цезарь с лососем",
            "image": "novogodnyaya_2s.jpg",
            "composition": [
                "Сыр моцарелла",
                "Соус 'Кальяри'",
                "Свежие томаты",
                "Лосось",
                "Салат айсберг",
                "Соус 'Спайси'",
                "Сыр пармезан"
            ],
            "sizes": ["30 см", "40 см", "60 см"],
            "crust": "Традиционное Толстое",
            "price": 600,
            "weight": "550 гр"
        }
        ];
    </script>
</body>
</html>